@font-face {
    font-family: "ReggaeOne";
    src: url(../Reggae_One/ReggaeOne-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#cabecera {
    background-color: rgb(173, 100, 191);
    height: 50%;
}

#cabecera p {
    color: (191, 187, 191);
    size: 50px;
}

.logos {
    height: 80%;
    width: 40%;
}

.btn-btn-outline-success {
    color: black;
    margin-top: auto;
} 

.carousel-slide {
    margin-top: 50px;
}

#container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20%;
}

.logo_bideogemu {
    height: 80%;
    width: 40%;
}

.playstation_logo {
    height: 80%;
    width: 40%;
}

.logos_2 {
    height: 80%;
    width: 40%;
}

.logo_bideogemu_2 {
    height: 80%;
    width: 40%;
}

.playstation_logo_2 {
    height: 80%;
    width: 40%;
}

#bideogemu {
    font-family: "ReggaeOne";
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}

#formulario {
    margin-top: auto;
    margin-bottom: auto;
}

.portadas {
    height: 80%;
    width: 40%;
}

#footer {
    background-color: black;
    color: aliceblue;
    height: 120px;
    justify-content: space-between;
}

#footer p {
    font-size: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#footer img {
    height: 80px;
    width: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

.titulo_catalogo {
    text-align: center;
}

#catalogo {
    padding-left: 15%;
    padding-right: 15%;
}

#catalogo img {
    height: 80%;
    width: 40%;
}

